[submodule "deps/AdaptiveInterpolator"]
	path = deps/AdaptiveInterpolator
	url = ../AdaptiveInterpolator
[submodule "deps/StatList"]
	path = deps/StatList
	url = ../StatList
[submodule "deps/VisiPlacer"]
	path = deps/VisiPlacer
	url = ../VisiPlacer
[submodule "deps/Uniforms-Misc"]
	path = deps/Uniforms-Misc
	url = ../Uniforms-Misc
[submodule "deps/Fonts"]
	path = deps/Fonts
	url = ../Fonts
