<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UIDeviceFamily</key>
    <array>
        <integer>1</integer>
        <integer>2</integer>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>MinimumOSVersion</key>
    <string>12.2</string>
    <key>CFBundleDisplayName</key>
    <string>ActRec</string>
    <key>CFBundleIdentifier</key>
    <string>com.mathjeff.ActRec</string>
    <key>CFBundleVersion</key>
    <string>1.2.10</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>CFBundleName</key>
    <string>ActRec</string>
    <key>XSAppIconAssets</key>
    <string>Assets.xcassets/AppIcon.appiconset</string>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>UIAppFonts</key>
    <array>
        <string>Beyond-Wonderland.ttf</string>
        <string>MinimalFont5x7.ttf</string>
        <string>PruistineScript.ttf</string>
        <string>TitanOne.ttf</string>
        <string>BlackChancery.ttf</string>
        <string>Qdbettercomicsans.ttf</string>
        <string>SatellaRegular.ttf</string>
    </array>

    <!-- ActivityRecommender makes use of libraries for requesting permissions, and those libraries know how to request lots of permissions. Because ActivityRecommender never asks for those permissions, if a library every requests them on ActivityRecommender's behalf, that's an error -->
    <key>NSCalendarsUsageDescription</key>
    <string>Error! This application should not request access to your calendar. Please file a bug at https://github.com/mathjeff/ActivityRecommender</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Error! This application should not request access to your location. Please file a bug at https://github.com/mathjeff/ActivityRecommender</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Error! This application should not request access to your location. Please file a bug at https://github.com/mathjeff/ActivityRecommender</string>

</dict>
</plist>
