<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="25" android:versionName="1.2.17" package="com.mathjeff.ActRec"

	xmlns:tools="http://schemas.android.com/tools"
	>

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-sdk android:minSdkVersion="26" android:targetSdkVersion="36" />
	<application android:label="ActRec.Android">

		<!-- Disabling Emoji2, which seems to be slow and crashing, and isn't needed -->
		<provider
			android:name="androidx.startup.InitializationProvider"
			android:authorities="${applicationId}.androidx-startup"
			android:exported="false"
			tools:node="merge">
	
			<meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer"
				tools:node="remove" />
		</provider>

	</application>

</manifest>

